@model SGAR.AppWebMVC.Models.Vehiculo

@{
    ViewData["Title"] = "Eliminar";
}

<h1><i class="bi bi-trash-fill me-3"></i>@ViewData["Title"]</h1>

<h3>Confirmar eliminación?</h3>
<hr />
<div>
    <h4>Vehiculo</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Placa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Placa)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Codigo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Mecanico)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mecanico)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Taller)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Taller)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Foto)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Foto != null && Model.Foto.Length > 0)
            {
                string base64Image = Convert.ToBase64String(Model.Foto);
                string imageUrl = $"data:image/png;base64,{base64Image}";
                <img src="@imageUrl" alt="Imagen" style="max-width: 75px; max-height: 75px;" />
            }
            else
            {
                <span>No hay foto disponible.</span>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdMarcaNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdMarcaNavigation.Modelo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdOperadorNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdOperadorNavigation.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdTipoVehiculoNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdTipoVehiculoNavigation.Descripcion)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-info"><i class="bi bi-arrow-90deg-left me-1"></i> Volver</a>
    </form>
</div>
