@model IEnumerable<SGAR.AppWebMVC.Models.Vehiculo>

@{
    ViewData["Title"] = "Index";
}

<h1>Vehiculos </h1>

<p>
    <a asp-action="Create">Agregar vehiculo</a>
</p>
<div class="row justify-content-center">
    @foreach (var item in Model)
    {

        <div class="card text-center col-4 m-3" style="width: 18rem;">
            @if (item.Foto != null && item.Foto.Length > 0)
            {
                string base64Image = Convert.ToBase64String(item.Foto);
                string imageUrl = $"data:image/png;base64,{base64Image}";
                <div id="preview ">
                    <img id="imgPreview" src="@imageUrl" alt="Foto" class="card-img-top m-2" style="max-width: 100px; max-height:100px;" />
                </div>
            }
            else
            {
                <div id="preview" style="display: none;">
                    <img id="imgPreview" src="#" alt="Foto" class="card-img-top" style="max-width: 100px; max-height:100px;" />
                </div>
            }
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">@Html.Display(item.IdMarcaNavigation.Nombre + " " + item.IdMarcaNavigation.Modelo)</li>
                    <li class="list-group-item">@Html.DisplayFor(modelItem => item.Placa)</li>
                    <li class="list-group-item">@Html.DisplayFor(modelItem => item.IdOperadorNavigation.Nombre)</li>
                </ul>
                <div class="row p-3">
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning col-4"><i class="bi bi-pencil-square"></i></a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info col-4"><i class="bi bi-info-square-fill"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger col-4"><i class="bi bi-trash-fill"></i></a>
                </div>
            </div>
        </div>



    }
</div>

