@model PaginatedList<SGAR.AppWebMVC.Models.Vehiculo>

@{
    ViewData["Title"] = "Lista de vehículos";
}

<h1><i class="bi bi-card-list me-3"></i>@ViewData["Title"]</h1>

<form asp-action="Index" class="mb-3">
    <div class="row">

        <div class="col-8">
            <div class="form-group">
                <label class="control-label">Placa</label>
                <input name="placa" class="form-control" />
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label class="control-label">Cant. Registros</label>
                <select name="topRegistro" class="form-control">
                    <option selected value="10">10</option>
                    <option value="20">20</option>
                    <option value="60">60</option>
                    <option value="100">100</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <input type="submit" value="Buscar" class="btn btn-primary" />
            <a class="btn btn-success" asp-action="Create"><i class="bi bi-plus-circle-fill"></i></a>
        </div>
    </div>
</form>
<div class="row justify-content-center">
    @foreach (var item in Model)
    {

        <div class="card text-center col-4 m-3" style="width: 18rem;">
            @if (item.Foto != null && item.Foto.Length > 0)
            {
                string base64Image = Convert.ToBase64String(item.Foto);
                string imageUrl = $"data:image/png;base64,{base64Image}";
                <div id="preview ">
                    <img id="imgPreview" src="@imageUrl" alt="Foto" class="card-img-top m-2" style="max-width: 100px; max-height:100px;" />
                </div>
            }
            else
            {
                <div id="preview" style="display: none;">
                    <img id="imgPreview" src="#" alt="Foto" class="card-img-top" style="max-width: 100px; max-height:100px;" />
                </div>
            }
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">@Html.DisplayFor(modelItem => item.IdMarcaNavigation.Modelo)</li>
                    <li class="list-group-item">@Html.DisplayFor(modelItem => item.Placa)</li>
                    <li class="list-group-item">@Html.DisplayFor(modelItem => item.IdOperadorNavigation.Nombre)</li>
                </ul>
                <div class="row p-3">
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning col-4"><i class="bi bi-pencil-square"></i></a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info col-4"><i class="bi bi-info-square-fill"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger col-4"><i class="bi bi-trash-fill"></i></a>
                </div>
            </div>
        </div>



    }

</div>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<div class="d-flex justify-content-center">
    <a asp-action="Index"
       asp-route-pageNumber="@(Model.PageIndex - 1)"
       class="btn btn-default @prevDisabled">
        Anterior
    </a>
    <div class="btn" style="cursor: default">
        Página @Model.PageIndex de @Model.TotalPages
    </div>
    <a asp-action="Index"
       asp-route-pageNumber="@(Model.PageIndex + 1)"
       class="btn btn-default @nextDisabled">
        Siguiente
    </a>
</div>

