@model SGAR.AppWebMVC.Models.Alcaldia

@{
    ViewData["Title"] = "Eliminar";
}

<h1><i class="bi bi-trash-fill me-3"></i>@ViewData["Title"]</h1>

<h3>Confirmar eliminación?</h3>
<hr />
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Correo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Correo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdMunicipioNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdMunicipioNavigation.Nombre)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" />
        <a asp-action="List" class="btn btn-info"><i class="bi bi-arrow-90deg-left me-1"></i> Volver</a>
    </form>
</div>
