@model SGAR.AppWebMVC.Models.Operador

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>¿Estás seguro de que quieres eliminar este operador?</h3>
<div>
    <h4>Operador</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Apellido)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Apellido)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TelefonoPersonal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TelefonoPersonal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CorreoPersonal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CorreoPersonal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dui)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dui)
        </dd>

        <div class="row m-2" id="divReferentesOp">
            <partial name="_ReferentesOperador" model="Model.ReferentesOperador" />
        </div>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Foto)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Foto != null && Model.Foto.Length > 0)
            {
                string base64Image = Convert.ToBase64String(Model.Foto);
                string imageUrl = $"data:image/png;base64,{base64Image}";
                <img src="@imageUrl" alt="Foto del operador" style="max-width: 200px; max-height: 200px;" />
            }
            else
            {
                <span>No hay foto disponible.</span>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ayudantes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ayudantes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoOperador)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CodigoOperador)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TelefonoLaboral)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TelefonoLaboral)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CorreoLaboral)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CorreoLaboral)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LicenciaDoc)
        </dt>
        <dd class="col-sm-10">
            @if (Model.LicenciaDoc != null && Model.LicenciaDoc.Length > 0)
            {
                <span>Documento de Licencia cargado.</span>
            }
            else
            {
                <span>No se ha cargado el documento de licencia.</span>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AntecedentesDoc)
        </dt>
        <dd class="col-sm-10">
            @if (Model.AntecedentesDoc != null && Model.AntecedentesDoc.Length > 0)
            {
                <span>Documento de Antecedentes cargado.</span>
            }
            else
            {
                <span>No se ha cargado el documento de antecedentes.</span>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SolvenciaDoc)
        </dt>
        <dd class="col-sm-10">
            @if (Model.SolvenciaDoc != null && Model.SolvenciaDoc.Length > 0)
            {
                <span>Documento de Solvencia cargado.</span>
            }
            else
            {
                <span>No se ha cargado el documento de solvencia.</span>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdAlcaldiaNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdAlcaldiaNavigation.IdMunicipio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vehiculo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vehiculo.Id)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>

@section Scripts {
    <script>
        $(function () {
            $("*[data-create]").hide();
            $("*[data-edit]").hide();
            $("*[data-disabled]").attr("disabled","disabled");
        });
    </script>
}