@model SGAR.AppWebMVC.Models.Operador

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Operador</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Apellido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Apellido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelefonoPersonal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelefonoPersonal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CorreoPersonal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CorreoPersonal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dui)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dui)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Foto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Foto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ayudantes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ayudantes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoOperador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodigoOperador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelefonoLaboral)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelefonoLaboral)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CorreoLaboral)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CorreoLaboral)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LicenciaDoc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LicenciaDoc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AntecedentesDoc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AntecedentesDoc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SolvenciaDoc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SolvenciaDoc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdAlcaldiaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdAlcaldiaNavigation.Correo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vehiculo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vehiculo.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
