@model SGAR.AppWebMVC.Models.Zona

@{
    ViewData["Title"] = "Eliminar";
}

<h1><i class="bi bi-trash-fill me-3"></i>@ViewData["Title"]</h1>

<h3>Confirmar eliminación?</h3>
<hr />
<div>
    <h4>Zona</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdAlcaldiaNavigation)
        </dt>
        <dd class="col-sm-10">
            @{
                var municipios = ((SelectList)ViewBag.AlcaldiaId);
                var municipio = municipios.FirstOrDefault(s => s.Value == Model.IdAlcaldiaNavigation.IdMunicipio.ToString());
                @municipio.Text
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdDistritoNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdDistritoNavigation.Nombre)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-info"><i class="bi bi-arrow-90deg-left me-1"></i> Volver</a>
    </form>
</div>
