@model SGAR.AppWebMVC.Models.Horario

@{
    ViewData["Title"] = "Detalles del Horario";
}

<h2>@ViewData["Title"]</h2>

<div class="form-group">
    <label>Hora de Entrada</label>
    <input type="time" class="form-control" value="@Model.HoraEntrada" disabled />
</div>

<div class="form-group">
    <label>Hora de Salida</label>
    <input type="time" class="form-control" value="@Model.HoraSalida" disabled />
</div>

<p><strong>Días:</strong></p>
<div>
    @for (int i = 0; i < 7; i++)
    {
        <label>
            <input type="checkbox" disabled @(ViewBag.DiasSeleccionados.Contains(i) ? "checked" : "") />
            @Enum.GetName(typeof(DayOfWeek), i)
        </label>
    }
</div>
<div class="form-group">
    <label>Turno</label>
    <input type="text" class="form-control" value="@(Model.Turno == 1 ? "Matutino" : "Vespertino")" disabled />
</div>

<div class="form-group">
    <label>Operador</label>
    <input type="text" class="form-control" value="@Model.IdOperadorNavigation.Nombre" disabled />
</div>

<div class="form-group">
    <label>Zona</label>
    <input type="text" class="form-control" value="@Model.IdZonaNavigation.Nombre" disabled />
</div>

<a href="@Url.Action("Index", "Horario")" class="btn btn-primary">Volver a la lista</a>
