@model SGAR.AppWebMVC.Models.Horario

@{
    ViewData["Title"] = "Editar Horario";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Edit">
    <div class="form-group">
        <label for="HoraEntrada" class="required">Hora de Entrada</label>
        <input type="time" class="form-control" id="HoraEntrada" name="HoraEntrada" value="@Model.HoraEntrada" required />
    </div>

    <div class="form-group">
        <label for="HoraSalida" class="required">Hora de Salida</label>
        <input type="time" class="form-control" id="HoraSalida" name="HoraSalida" value="@Model.HoraSalida" required />
    </div>

    <div class="form-group">
        <label for="Dia">Días</label><br />
        @for (int i = 0; i < 7; i++)
        {
            bool isChecked = ViewBag.DiasSeleccionados != null && ViewBag.DiasSeleccionados.Contains(i);
            <input type="checkbox" name="DiasSeleccionados" value="@i" @(isChecked ? "checked" : "") />
            @Enum.GetName(typeof(DayOfWeek), i)
            <br />
        }
    </div>

    <div class="form-group">
        <label for="Turno" class="required">Turno</label>
        <select class="form-control" id="Turno" asp-for="Turno" name="Turno">
            <option value="">Selecciona un turno</option>
            <option value="1">Matutino</option>
            <option value="2">Vespertino</option>
        </select>
    </div>

    <div class="form-group">
        <label asp-for="IdOperador" class="control-label required"></label>
        <select asp-for="IdOperador" class="form-control" asp-items="ViewBag.Operadores"></select>
    </div>

    <div class="form-group">
        <label for="Distrito">Distrito</label>
        <select id="Distrito" name="Distrito" class="form-control" asp-items="ViewBag.Distritos">
            <option value="">Seleccione un distrito</option>
        </select>
    </div>

    <div class="form-group">
        <label for="IdZona">Zona</label>
        <select id="IdZona" name="IdZona" class="form-control" asp-items="ViewBag.Zonas">
            <option value="">Seleccione una zona</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
    <a href="@Url.Action("Index", "Horario")" class="btn btn-secondary">Volver a la Lista</a>
</form>
