@model IEnumerable<SGAR.AppWebMVC.Models.Horario>

@{
    ViewData["Title"] = "Gestión de Horarios";
}

<div style="align-items: center;" class="p-2">
    <h2><i class="bi bi-search"></i> Buscar Horario</h2>
</div>

<form asp-action="Index" class="mb-3">
    <div class="row">
        <div class="col-4">
            <div class="form-group">
                <label class="control-label">Operador</label>
                <input type="text" name="operador" class="form-control" />
            </div>
        </div>
        <div class="col-8">
            <div class="form-group col-6">
                <label class="control-label">Zona</label>
                <input type="text" name="zona" class="form-control" />
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-4">
            <div class="form-group">
                <label class="control-label">Cant. Registros</label>
                <select name="topRegistro" class="form-control">
                    <option selected value="10">10</option>
                    <option value="20">20</option>
                    <option value="60">60</option>
                    <option value="100">100</option>
                    <option value="500">500</option>
                    <option value="1000">1000</option>
                    <option value="0">Todos</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <input type="submit" value="Buscar" class="btn btn-primary" />
            <a class="btn btn-success" asp-action="Create"><i class="bi bi-plus-circle"></i></a>
        </div>
    </div>
</form>

<div style="align-items: center;" class="p-2">
    <h2 class="text-center">Gestión de Horarios</h2>
</div>

<div class="d-flex justify-content-between mb-3">
    <a href="@Url.Action("FullCalendar", "Horario")" class="btn btn-secondary">📅 Ver Calendario</a>
</div>

<table class="table table-striped" id="myTable">
    <thead class="table-dark">
        <tr>
            <th>Operador</th>
            <th>Zona</th>
            <th>Hora Entrada</th>
            <th>Hora Salida</th>
            
            <th>Turno</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var horario in Model)
        {
            <tr>
                <td>@horario.IdOperadorNavigation.Nombre</td>
                <td>@horario.IdZonaNavigation.Nombre</td>
                <td>@horario.HoraEntrada</td>
                <td>@horario.HoraSalida</td>
              
                <td>@(horario.Turno == 1 ? "Matutino" : "Vespertino")</td>
                <td>
                    <a href="@Url.Action("Edit", "Horario", new { id = horario.Id })" class="btn btn-secondary"> Editar</a>
                    <a href="@Url.Action("Details", "Horario", new { id = horario.Id })" class="btn btn-primary">Ver</a>
                    <a href="@Url.Action("Delete", "Horario", new { id = horario.Id })" class="btn btn-danger"> Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@functions {
    string ConvertirDias(string diasBinarios)
    {
        var dias = new[] { "L", "M", "Mi", "J", "V", "S", "D" };
        var resultado = new List<string>();

        for (int i = 0; i < diasBinarios.Length; i++)
        {
            if (diasBinarios[i] == '1') resultado.Add(dias[i]);
        }

        return string.Join(", ", resultado);
    }
}

                    @section Scripts {
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                "language": languageTable,
                ordering: false
            });
        });
    </script>
}
